<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <!--Disable Logback DEBUG-->
    <statusListener class="ch.qos.logback.core.status.NopStatusListener"/>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <layout class="ch.qos.logback.classic.PatternLayout">
            <Pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{100} - %msg%n</Pattern>
        </layout>
    </appender>

    <appender name="ACCESS-LOG" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <append>true</append>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>.vertx/logs/access.log.%d{yyyy-MM-dd}.%i.zip</fileNamePattern>
            <timeBasedFileNamingAndTriggeringPolicy
                    class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <maxFileSize>100MB</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
            <maxHistory>7</maxHistory>
        </rollingPolicy>
        <encoder class="ch.qos.logback.core.encoder.LayoutWrappingEncoder">
            <charset>UTF-8</charset>
            <layout class="ch.qos.logback.classic.PatternLayout">
                <pattern>%msg%n</pattern>
            </layout>
        </encoder>
    </appender>

    <appender name="Async" class="ch.qos.logback.classic.AsyncAppender">
        <discardingThreshold>0</discardingThreshold>
        <queueSize>5000</queueSize>
        <appender-ref ref="ACCESS-LOG"/>
    </appender>

    <!--additivity = false make the log go to the access log file only (no STDOUT)-->
    <logger name="io.vertx.ext.web.handler.impl.LoggerHandlerImpl" level="ALL" additivity="false">
        <appender-ref ref="Async"/>
    </logger>

    <logger name="io.netty" level="ERROR"/>
    <logger name="io.vertx" level="ERROR"/>
    <logger name="org.apache.shiro" level="ERROR"/>

    <root level="debug">
        <appender-ref ref="STDOUT"/>
    </root>
</configuration>