<div class="content bg-gray-lighter">
	<div class="row items-push">
		<div class="col-sm-7">
			<h1 class="page-heading">
				{{isEditing ? 'Edit ' + theModel.title : 'Create a new Demo Model'}}
			</h1>
		</div>
		<div class="col-sm-5 text-right hidden-xs">
			<ol class="breadcrumb push-10-t">
				<li>Demo Models</li>
				<li><a class="link-effect">{{isEditing ? 'Edit ' + theModel.title : 'Create a new Demo Model'}}</a></li>
			</ol>
		</div>
	</div>
</div>

<div class="content content-narrow">
	<div class="block">
		<div class="block-content">
			<form class="js-validation-material form-horizontal push-10-t" data-ng-submit="submitModelForm()" method="post">
				<div class="form-group">
					<div class="col-sm-9">
						<div class="form-material">
							<input class="form-control" type="text" id="title" name="title" data-ng-model="theModel.title" placeholder="">
							<label for="title">Title</label>
						</div>
					</div>
				</div>
				<div class="form-group">
					<div class="col-sm-9">
						<div class="form-material">
							<textarea class="form-control" id="description" name="description" data-ng-model="theModel.description" placeholder="" rows="10"></textarea>
							<label for="description">Description</label>
						</div>
					</div>
				</div>
				<div class="form-group">
					<div class="col-sm-9">
						<div class="form-material">
							<input class="form-control" type="text" id="number" name="number" data-ng-model="theModel.number" placeholder="">
							<label for="number">Number</label>
						</div>
					</div>
				</div>
				<div class="form-group">
					<div class="col-xs-12">
						<button class="btn btn-sm btn-primary" type="submit">{{isEditing ? 'Save Demo Model' : 'Create Demo Model'}}</button>
					</div>
				</div>
			</form>
		</div>
	</div>
</div>