<div class="content bg-gray-lighter">
	<div class="row items-push">
		<div class="col-sm-7">
			<h1 class="page-heading">
				Demo Models
			</h1>
		</div>
		<div class="col-sm-5 text-right hidden-xs">
			<ol class="breadcrumb push-10-t">
				<li>Demo Models</li>
				<li><a class="link-effect" ui-sref="demoModel.list">List</a></li>
			</ol>
		</div>
	</div>
</div>
<div class="content">
	<!-- Dynamic Table Full -->
	<div class="block">
		<div class="block-content">
			<table class="table table-bordered table-striped js-dataTable-full" ng-table="tableParams">
				<tbody>
				<tr ng-repeat="(i, model) in $data">
					<td class="text-center" data-title="'No.'" sortable="'index'" filter="{index: 'text'}">{{model.index + 1}}</td>
					<td class="font-w600" data-title="'Title'" sortable="'title'" filter="{title: 'text'}">{{model.title}}</td>
                    <td data-title="'Description'" filter="{description: 'text'}">{{model.description}}</td>
                    <td data-title="'number'" sortable="'number'" filter="{number: 'text'}">{{model.number}}</td>
					<td class="text-center">
						<div class="btn-group">
							<a ui-sref="demoModel.edit({modelID: model.database_id})" class="btn btn-xs btn-default" type="button"><i class="fa fa-pencil"></i></a>
							<button data-ng-click="deleteModel(model.database_id)" class="btn btn-xs btn-default" type="button"><i class="fa fa-times"></i></button>
						</div>
					</td>
				</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>