<ul class="nav-header pull-right">
    <li ng-hide="userData.name==undefined">
        <div class="btn-group" data-on-toggle="toggled(open)" data-uib-dropdown>
            <button class="btn btn-default" type="button" data-uib-dropdown-toggle>
                Hello, {{userData.name}}
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu-right" data-uib-dropdown-menu>
                <li class="dropdown-header">Account</li>
                <li class="divider"></li>
                <li>
                    <a tabindex="-1" href="" data-ng-click="logOut()">
                        <i class="si si-logout pull-right"></i>Log out
                    </a>
                </li>
            </ul>
        </div>
    </li>
</ul>
<ul class="nav-header pull-left">
    <li class="hidden-md hidden-lg">
        <button class="btn btn-default" type="button" data-ng-click="oneui.settings.sidebarOpenXs = ! oneui.settings.sidebarOpenXs" data-js-blur>
            <i class="fa fa-navicon"></i>
        </button>
    </li>
    <li class="hidden-xs hidden-sm">
        <button class="btn btn-default" type="button" data-ng-click="oneui.settings.sidebarMini = ! oneui.settings.sidebarMini" data-js-blur>
            <i class="fa fa-ellipsis-v"></i>
        </button>
    </li>
</ul>
